.container-tracking-location {
  display: flex;
  height: 100%;
}
.container-tracking-location__container-list-and-search-location {
  background-color: #c8f1fe;
  width: 35%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;
}
.container-tracking-location__title {
  font-size: 2rem;
  margin: 0.5rem 0;
}
.container-tracking-location__container-search-form {
  /* border: 1px solid blue; */
  margin: 0 0 1em 0;
}
.container-tracking-location__container-list {
  width: 80%;
  height: 90%;
  overflow: hidden;
}
.container-tracking-location__list {
  height: 100%;
  margin: 0;
  padding: 1em 2em;
  overflow: auto;
}
.container-tracking-location__section-details-location {
  width: 65%;
}
.container-tracking-location__container-details-location {
  height: 100%;
  background-color: #acfdfed3;
  overflow: scroll;
  scroll-behavior: smooth;
}
.container-tracking-location__section-modal-counters {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 0;
  overflow: auto;
}
